{% extends 'SLCapp/base.html' %}
{% load staticfiles %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block title_block %}
	Chat
{% endblock %}
{% block body_block %}
	<p><h3>Welcome to our SLC chatbot, here to help you with enquiries about your application!</h3></p>
	{% if convo %}
		
		{% for c in convo %}
			<p><strong>You:</strong> {{ c.request }}</p>
			<p><strong>Watson:</strong> {{ c.response }}</p>
		{% endfor %}
		<p><a href="{% url 'chat' %}">Clear chat history</a></p>
	{% endif %}
	<form id="chat_form" method="post" action="{% url 'chat' %}"
		enctype="multipart/form-data">

		{% csrf_token %}

		<!-- Display form -->
		{{ chat_form.request }}

		<div>
			
		</div>
		<!-- Provide a button to click to submit the form. -->
		<input type="submit" name="submit" value="Send" />
	</form>
	
	
{% endblock %}